<div #container class="container">
  <input
    #input
    placeholder="meta.a"
    hotkeys="meta.a"
    (hotkey)="handleHotkey($event)"
    [hotkeysOptions]="{ preventDefault: false, trigger: 'keyup', showInHelpMenu: false, allowIn: ['INPUT'] }"
  />

  <input
    #input2
    placeholder="control.g"
    hotkeys="control.g"
    (hotkey)="handleHotkey($event)"
    hotkeysDescription="Switch branch/tag"
    hotkeysGroup="Source code browsing"
    [hotkeysOptions]="{ allowIn: ['INPUT'] }"
  />

  <input
    #input3
    placeholder="m>t"
    hotkeys="m>t"
    (hotkey)="handleHotkey($event)"
    hotkeysDescription="Directive Test"
    hotkeysGroup="Sequencing"
    [hotkeysOptions]="{ allowIn: ['INPUT'] }"
    [isSequence]="true"
  />

  <div class="grid-container">
    <button (click)="pauseHotkeys()">pause hotkeys</button>
    <button (click)="resumeHotkeys()">resume hotkeys</button>
  </div>
  <span> Hotkeys are {{ isPaused() ? 'paused' : 'active' }} </span>
</div>
