<div #container>
  <input
    #input
    placeholder="meta.a"
    hotkeys="meta.a"
    (hotkey)="handleHotkey($event)"
    [hotkeysOptions]="{ preventDefault: false, trigger: 'keyup', showInHelpMenu: false, allowIn: ['input'] }"
  />

  <input
    #input2
    placeholder="control.g"
    hotkeys="control.g"
    (hotkey)="handleHotkey($event)"
    hotkeysDescription="Switch branch/tag"
    hotkeysGroup="Source code browsing"
    [hotkeysOptions]="{ allowIn: ['input'] }"
  />

  <input
    #input3
    placeholder="m>t"
    hotkeys="m>t"
    (hotkey)="handleHotkey($event)"
    hotkeysDescription="Directive Test"
    hotkeysGroup="Sequencing"
    [hotkeysOptions]="{ allowIn: ['input'] }"
    [isSequence]="true"
  />
</div>
